.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
/* Thêm các kiểu cho ngày hiện tại */
.today-event {
  font-weight: bold; /* Tô đậm ngày hiện tại */
  background-color: #f8d7da; /* Thay đổi màu nền nếu cần */
}

/* Thêm kiểu cho ngày nhận phòng và trả phòng */
.highlight-day {
  font-weight: bold; /* Tô đậm ngày nhận phòng và trả phòng */
  background-color: #ffeeba; /* Màu nền cho ngày nhận phòng và trả phòng */
  color: #d39e00; /* Màu chữ cho ngày nhận phòng và trả phòng */
}

/* Đặc biệt cho các sự kiện */
.event-highlight {
  background-color: #f44336; /* Màu nền sự kiện */
  color: white; /* Màu chữ của sự kiện */
}

#customerImage img {
  width: 150px;  /* Chiều rộng hình ảnh */
  height: 150px; /* Chiều cao hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
  border-radius: 8px; /* Tạo bo góc cho hình ảnh */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ nhẹ cho hình ảnh */
}

.modal-lg-custom {
  max-width: 90%; /* Tùy chỉnh chiều rộng (90% màn hình) */
}


.card-title i {
  margin-right: 8px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.display-6 {
  font-size: 2rem;
  font-weight: bold;
}


.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
